#*#
*.*~
*.a
*.al
*.aps
*.bin
*.decoded.txt
*.dll
*.exe
*.idb
*.idc
*.IDX
*.ilk
*.ipch
*.la
*.lo
*.log
*.ncb
*.o
*.obj
*.opensdf
*.opt
*.orig
*.pch
*.pdb
*.plg
*.pyc
*.pyo
*.rej
*.res
*.SDF
*.sdf
*.so
*.so.[0-9]*
*.suo
*.swp
*.tlb
*.tlog
*.trx
*.user
*.vcxproj.filters
*.vcxproj.user
*.vsp
*.vspscc
*/Debug*
*/debug*
*/Release*
*/release*
*/TestResults
*_i.c
*_i.h
*_p.c
*Readme.txt
*tests.*.execute
*tests.*.valgrind
*~
.#*
.*.swp
.DS_Store
.libs
.sconsign.dblite
.sconsign.tmp
.svn
_*.h
_*.idl
Archive
BuildLog.htm
Debug
dlldata.c
Dummy-IPP
ipch
mt.dep
Release
/build-out
moc_*
*.pickle
*.pik
/dist
/build
